.index-body{
    background-image: url('../Images/this-removebg-preview.png') !important;
    background-color: rgba(255, 255, 255, 0.8) !important; /* Adjust color and opacity */
}

/* Base layout styling */
.main-div {
    width: 65%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 20px;
    background-color: #FFAB67;
}

.head{
    color: #230738;
}

.input-field{
    background-color: whitesmoke;
    border-radius: 10px;
}

.label{
    color: #230738;
}

.signup-signin-btn{
    background: #230738;
    color: #FFAB67;
    font-weight: bold;
    border-radius: 15px !important;
    border: 4px solid #FFAB67;
}

.signup-signin-btn:hover{
    background: #FFAB67;
    color: #230738;
    border: 4px solid #230738;
    font-weight: bold;
}

.form-container,
.image-container,
.signin-form-container {
    transition: transform 0.5s ease-in-out;
}

.form-container {
    width: 50%;
    padding: 20px;
}

.image-container {
    /* position: relative; */
    width: 500px;

}

.bg-img {
    width: 450px !important;
    height: 586px !important;
    margin-left: 70px;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.signin-form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding: 20px;
    display: none;
}

/* Slide effect styling */
.slide-left {
    transform: translateX(-82%);
}

.signin-form-container.active {
    display: block;
}

.custom.btn {
    color: black !important;
    border: 2px solid black !important;
    background-color: white !important;
}

.custom-btn:hover {
    color: white !important;
    border: 2px solid white !important;
    background-color: black !important;
}